@import "../../styles/constants";

$pointerHeight: 14em;
$sectionMarginBottom: 2em;

.about__page {
  .section__one__background {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$navbar_height});

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: gray;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s linear;

      &.one {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
          ),
          // url("../../assets/images/unitedNations.svg");
          url("../../assets/images/unitedNations.jpg");
        // opacity: 0;
      }
      &.two {
        background-image: url("../../assets/images/newPhase.svg");
        opacity: 0;
      }
    }
  }
  .section__one {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;

    img {
      width: 12em;
    }

    .heading {
      text-align: left;
      color: #fff;
      margin-bottom: 0;
      font-weight: 700;
      .blue {
        color: $color_blue_1;
      }
    }
    .heading2 {
      font-size: 2.5em;
      font-weight: 700;
      color: $color_blue_1;
      text-align: right;
    }

    #pointer {
      position: absolute;
      left: 3em;
      width: 45%;
      min-width: 575px;
      height: $pointerHeight;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        270deg,
        #ffffff 39.73%,
        rgba(255, 255, 255, 0) 98.4%
      );

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;

      padding: 2em;
      .heading {
        text-align: right;
      }
    }

    #pointer:before {
      content: "";
      position: absolute;
      right: -($pointerHeight/2 - 3em);
      bottom: 0;
      width: 0;
      height: 0;
      border-left: $pointerHeight/2 - 3em solid #fff;
      border-top: $pointerHeight/2 solid transparent;
      border-bottom: $pointerHeight/2 solid transparent;
    }
  }

  .section__two {
    margin-bottom: $sectionMarginBottom;

    &__top {
      display: flex;

      & > div {
        flex: 1;
      }
    }

    &__mission,
    &__vision,
    &__goals {
      min-height: 50vh;
      background-color: #fff;
      border: 1px solid rgba(35, 159, 251, 0.5);
      display: flex;

      &:hover {
        background: linear-gradient(
          109.45deg,
          #b1e1f9 0%,
          #8f9cfe 25%,
          #6898f8 50%,
          #7699fa 75%,
          #cddcfd 100%
        );

        .section__two__heading {
          color: #fff;
        }
        .section__two__svg {
          filter: brightness(0) invert(1);
        }

        .dot {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }

    &__motivation {
      display: none;
    }

    &__center {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      padding: 1em 0;
    }

    &__mission {
      &__center {
        margin-left: 100% - $width_section;
        margin-right: 10%;
      }
    }
    &__vision {
      &__center {
        margin-left: 10%;
        margin-right: 100% - $width_section;
      }
    }

    &__heading {
      font-size: 5em;
      font-weight: 300;
      color: $color_blue_1;
    }

    &__content {
      flex: 1;
      font-size: 1.2em;

      &.goals__content {
        display: flex;
        column-gap: 3em;
      }
    }

    svg {
      width: 4em;
      height: auto;
    }
  }

  .section__three {
    margin-bottom: $sectionMarginBottom;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .section__four,
  .section__five {
    margin-bottom: $sectionMarginBottom;

    &__heading {
      margin-bottom: 0.5em;
    }
    svg {
      height: auto;
      width: 100%;
    }
  }

  .section__six {
    // background-color: $color_blue_2;
    // position: relative;
    // height: 90vh;
    // height: 60vh;

    svg {
      width: 100%;
      height: auto;
    }

    // &__top {
    // }

    // &__bgText {
    //   width: 60%;
    //   position: absolute;
    //   height: auto;

    //   &.med {
    //     // margin-left: 10em;
    //     top: 2em;
    //     left: 10em;
    //   }

    //   &.data {
    //     right: 10em;
    //     bottom: 2em;
    //   }
    // }
  }

  .section__seven {
    margin-top: -$sectionMarginBottom;
    margin-bottom: $sectionMarginBottom;

    &__heading {
      margin-bottom: 0.5em;
    }

    &__people {
      display: flex;
      overflow-x: auto;
      column-gap: 2.5em;
      align-items: flex-start;
      padding-left: (100% - $width_section)/2;
      padding-right: (100% - $width_section)/2;
      padding-top: 10px;
      padding-bottom: 10px;

      /* Hide scrollbar for Chrome, Safari and Opera */
      // &::-webkit-scrollbar {
      //   display: none;
      // }
      // -ms-overflow-style: none; /* IE and Edge */
      // scrollbar-width: none; /* Firefox */
    }
  }

  .section__eight {
    margin-bottom: 3em;

    &__heading {
      margin-bottom: 0.5em;
    }

    &__awards {
      display: flex;
      overflow-x: auto;
      column-gap: 3em;
      align-items: flex-start;
      padding: 0 (100% - $width_section)/2;

      & > div {
        &:nth-of-type(1) {
          flex: 2;
          // max-width: 400px;
          // min-width: 70%;
        }
        &:nth-of-type(2) {
          flex: 1.5;
          // min-width: 60%;
        }
        &:nth-of-type(3) {
          flex: 1;
          // min-width: 50%;
        }
      }

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@media screen and (max-width: $laptop) {
  .about__page {
    .section__one {
      column-gap: 2em;

      #pointer {
        padding: 1em;
        min-width: 437px;
      }

      img {
        width: 8em;
      }
      .heading2 {
        font-size: 2em;
      }
    }

    .section__two {
      &__mission {
        &__center {
          margin-left: 100% - $width_section_laptop;
          margin-right: 10%;
        }
      }
      &__vision {
        &__center {
          margin-left: 10%;
          margin-right: 100% - $width_section_laptop;
        }
      }
      &__heading {
        font-size: 3em;
      }
    }

    .section__seven {
      margin-top: -1em;

      &__heading {
        font-size: 2.5em;
        margin-bottom: 0.5em;
      }

      &__people {
        padding-left: (100% - $width_section_laptop)/2;
        padding-right: (100% - $width_section_laptop)/2;
      }
    }

    .section__eight {
      margin-top: -1em;

      &__heading {
        font-size: 2.5em;
        margin-bottom: 0.5em;
      }

      &__awards {
        padding: 0 (100% - $width_section_laptop)/2;

        & > div {
          width: 250px;
        }
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  .about__page {
    .section__one__background {
      & > div {
        &.two {
          background-image: url("../../assets/images/newPhaseSmall.svg");
        }
      }
    }
    .section__one {
      #pointer {
        $pointerHeight: 8em;
        left: 3em;
        padding: 1em;
        bottom: 3em;
        width: 65%;
        min-width: unset;
        height: $pointerHeight;

        &:before {
          right: -($pointerHeight/2 - 1em);
          bottom: 0;
          width: 0;
          height: 0;
          border-left: $pointerHeight/2 - 1em solid #fff;
          border-top: $pointerHeight/2 solid transparent;
          border-bottom: $pointerHeight/2 solid transparent;
        }
      }

      img {
        width: 7em;
      }
      .heading2 {
        font-size: 1.5em;
      }
    }

    .section__two {
      &__mission {
        &__center {
          margin-left: 100% - $width_section_tablet;
          margin-right: 10%;
        }
      }
      &__vision {
        &__center {
          margin-left: 10%;
          margin-right: 100% - $width_section_tablet;
        }
      }
      &__heading {
        font-size: 2.5em;
      }
    }

    .section__seven {
      margin-top: -1em;

      &__heading {
        margin-bottom: 0.5em;
      }

      &__people {
        padding-left: (100% - $width_section_tablet)/2;
        padding-right: (100% - $width_section_tablet)/2;
        column-gap: 2em;
      }
    }

    .section__eight {
      margin-top: -1em;

      &__heading {
        margin-bottom: 0.5em;
      }

      &__people {
        padding: 0 (100% - $width_section_tablet)/2;

        & > div {
          width: 220px;
        }
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .about__page {
    .section__one {
      #pointer {
        $pointerHeight: 8em;

        padding: 1em;
        left: 1em;
        bottom: 3em;
        width: 70%;
        height: $pointerHeight;

        &:before {
          right: -($pointerHeight/2 - 1em);
          bottom: 0;
          width: 0;
          height: 0;
          border-left: $pointerHeight/2 - 1em solid #fff;
          border-top: $pointerHeight/2 solid transparent;
          border-bottom: $pointerHeight/2 solid transparent;
        }
      }

      img {
        width: 6em;
      }
      .heading2 {
        font-size: 1em;
      }
    }

    .section__two {
      &__heading {
        font-size: 1.5em;
      }

      &__top {
        background: linear-gradient(105.05deg, #4499f2 4.07%, #6ad6ef 100%);
      }

      &__mission,
      &__vision {
        height: initial;
        min-height: unset;
        background-color: inherit;
        border: none;

        .section__two__heading {
          color: #fff;
        }
        .section__two__svg {
          filter: brightness(0) invert(1);
        }
        p {
          color: #fff;
        }
      }

      &__goals {
        display: none;
      }
      &__motivation {
        display: block;
      }

      &__mission {
        &__center {
          margin-left: 100% - $width_section_mobile;
          margin-right: 10%;
        }
      }
      &__vision {
        &__center {
          margin-left: 10%;
          margin-right: 100% - $width_section_mobile;
        }
      }

      svg {
        width: 3em;
      }
    }

    .section__three {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }

    .section__seven {
      margin-top: 2em;

      &__heading {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      &__people {
        padding-left: (100% - $width_section_mobile)/2;
        padding-right: (100% - $width_section_mobile)/2;
        column-gap: 1.5em;
      }
    }

    .section__eight {
      margin-top: 2em;

      &__heading {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      &__awards {
        padding: 0 (100% - $width_section_mobile)/2;

        & > div {
          &:nth-of-type(1) {
            min-width: 183px;
          }
          &:nth-of-type(2) {
            min-width: 157px;
          }
          &:nth-of-type(3) {
            min-width: 131px;
          }
        }
      }
    }
  }
}
