@import "../../../../styles/constants";

.news__page {
  .section__header__background {
    background: linear-gradient(90deg, #157bd1 13.03%, #04d6ee 100.08%);
  }

  .section__header {
    width: $width_section;
    margin: 0 auto;
    color: #fff;
    position: relative;
    height: 320px;
    padding-top: 4em;

    &__title {
      margin-bottom: 2rem;
      font-size: 2em;
      font-weight: 700;
    }

    &__left {
      width: 60%;
    }

    &__right {
      position: absolute;
      bottom: 0;
      // left: 60%;
      right: 0;
      height: 300px;
      width: auto;
    }
  }
}
