$max-width: 1020px;
$width: 90%;
$width_section: 71%;

$header_size: 3em;
$header_weight: 800;

$navbar_color: #222222;
$navbar_height: 70px;

$color_white_secondary: #fcfcfc;
$color_blue_dark: #1b294a;
$color_blue_dark_2: #0f2e5b;
$color_blue_1: #239ffb;
$color_blue_2: #017bfe;

$border_radius: 15px;

$zIndex_navbar: 10;
$zIndex_image: 1;
$zIndex_modal: 100;

$padding_card: 3rem 2rem;

// $mobile: 480px;
$mobile: 600px;
$tablet: 768px;
// $laptop: 992px;
$laptop: 1024px;
$desktop: 1200px;
$extraLargeScreen: 1201px;

// FONTS
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(../assets/fonts/gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: local("Gilroy"),
    url(../assets/fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: local("Gilroy"),
    url(../assets/fonts/gilroy/Gilroy-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("Gilroy"),
    url(../assets/fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: local("Gilroy"),
    url(../assets/fonts/gilroy/Gilroy-Black.ttf) format("truetype");
}
