// Some common breakpoints for widths of devices:
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

// 600px: Mobile devices
// 768px: iPads, Tablets
// 992px: Small screens, laptops
// 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

@import "./constants";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ecf0f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: Gilroy;
  font-size: 1.6rem;
  // font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  // object-fit: cover;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

b {
  color: $color_blue_dark;
}

.container {
  width: $width_section !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.mobile {
  display: none;
}

.section__heading {
  font-size: $header_size;
  font-weight: $header_weight;
  color: $color_blue_dark;
  text-align: center;
  margin-bottom: 1em;

  &__blue1 {
    color: $color_blue_1;
  }
  &__blue2 {
    color: $color_blue_2;
  }
}

.verticalScrollingText {
  animation: flip 5s ease-in-out infinite;
  display: grid;
  row-gap: 2em;

  .text {
    font-size: 3em;
    font-weight: 700;
  }
}

@keyframes flip {
  0%,
  33% {
    transform: translateY(0em);
    // transform: translateY(-1.5em);
  }

  33%,
  66% {
    transform: translateY(-7.6em);
  }

  66%,
  100% {
    transform: translateY(-14.7em);
  }

  100%,
  0% {
    // transform: translateY(-1.5em);
    transform: translateY(0em);
  }
}

@media screen and (max-width: $mobile) {
  html {
    font-size: 8px !important;
  }
  .container {
    width: $width_section_mobile !important;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .section__heading {
    font-size: 1.5em !important;
  }
  .verticalScrollingText__container {
    height: 4em !important;
  }
  .verticalScrollingText {
    // animation: none;
    .text {
      text-align: center !important;
      font-size: 1.5em !important;
    }
  }
  @keyframes flip {
    0%,
    33% {
      transform: translateY(0.2em);
      // transform: translateY(-1.5em);
    }

    33%,
    66% {
      transform: translateY(-4.4em);
    }

    66%,
    100% {
      transform: translateY(-9.1em);
    }

    100%,
    0% {
      // transform: translateY(-1.5em);
      transform: translateY(0.2em);
    }
  }
}
@media screen and (min-width: $mobile) and (max-width: $tablet) {
  html {
    font-size: 9px;
  }
  .container {
    width: $width_section_tablet !important;
  }

  .verticalScrollingText__container {
    height: 7em !important;
  }
  .verticalScrollingText {
    // animation: none !important;
    .text {
      text-align: center !important;
      font-size: 2em !important;
    }
  }
  @keyframes flip {
    0%,
    33% {
      transform: translateY(0em);
    }

    33%,
    66% {
      transform: translateY(-8em);
    }

    66%,
    100% {
      transform: translateY(-16.2em);
    }

    100%,
    0% {
      transform: translateY(0em);
    }
  }
}
@media screen and (min-width: $tablet) and (max-width: $laptop) {
  html {
    font-size: 10px;
  }
  .container {
    width: $width_section_laptop !important;
  }
}

// ::-webkit-scrollbar {
//   width: 0; /* Remove scrollbar space */
//   background: transparent; /* Optional: just make scrollbar invisible */
// }
/* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: #ff0000;
// }
