@import "../../styles/constants";

.home__page {
  //   background-color: red;
  //   width: 100vw;
  //   height: 100vh;
}

.section__one {
  width: 100%;
  height: calc(100vh - #{$navbar_height});
  background-color: gray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/images/MedData1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  img {
    width: 180px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  &__left {
    p {
      color: #fff;
      font-size: 40px;
    }
  }

  &__right {
    p {
      color: #fcfcfc;
      font-size: 64px;
    }
  }
}

.vertical-line {
  width: 2px;
  height: 149px;
  background-color: #fff;
  margin: 0 42px;
}
