@import "../../../styles/constants";

.getConsultationBtn {
  color: #fff;
  background: #1b294a;

  padding: 0.4em 1em;
  border-radius: $border_radius;
  font-size: 1.4em;
  font-weight: 500;
  margin: 0 auto;
  text-transform: uppercase;
}

@media screen and (max-width: $mobile) {
  .getConsultationBtn {
    font-size: 1em;
    width: 100%;
  }
}
