@import "../../styles/constants";

.navbar-background {
  background-color: $navbar_color;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.73);
  z-index: $zIndex_navbar;
}

.navbar {
  margin: 0 auto !important;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  height: $navbar_height;
  //   height: 80px;
  //   font-size: 24px;

  &__logo a {
    display: flex;
    img {
      height: 60px;
      width: 60px;
    }
  }

  &__links {
    display: flex;
    gap: 2em;
    // gap: 1rem;
    // column-gap: 101px;
    justify-content: space-between;
    // width: 50%;
    align-items: center;
    color: #fcfcfc;
    font-weight: 400;

    a {
      transition: all 0.1s linear;
      white-space: nowrap;
      &:hover {
        color: #adadad;
      }

      &.active_link {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  &__lang {
    // background-color: red;
  }

  &__burgerMenu {
    display: none;
  }
}

@media screen and (max-width: $tablet) {
  .navbar {
    &__links {
      display: none;
    }

    &__lang {
      display: none;
    }

    &__burgerMenu {
      display: block;
      position: relative;

      &__btn {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        overflow: hidden;
        background: $color_blue_2;

        svg {
          width: 60%;
          height: auto;
          color: #fff;
        }
      }

      &__content {
        position: absolute;
        background-color: rgb(72, 46, 46);
      }

      &__links {
        display: grid;

        a {
          padding: 1em;
          white-space: nowrap;
          &:hover {
            color: #adadad;
          }

          &.active_link {
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
