@import "../../styles/constants";

.sidebar__background {
  background: rgba(25, 31, 40, 0.5);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s linear;
}

.sidebar {
  min-width: 80vw;
  height: 100vw;

  &__top {
    height: $navbar_height;
    background-color: $navbar_color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
  }

  &__middle {
    padding: 1em 0;
    text-align: center;
    // border-bottom: 1px solid;

    &__links {
      display: grid;

      a {
        align-items: center;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        display: flex;
        font-size: 1.2em;
        min-height: 40px;
        padding: 0 1rem;

        &.active_link {
          //   color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  //   &__bottom {
  //     padding: 1em 0;
  //     font-size: 1.2em;
  //   }
}
