@import "../../../../styles/constants";

$transition-time: 0.1s;

.questions {
  display: grid;
  row-gap: 1em;
}

.question {
  background-color: #fff;
  padding: 1em 2em;
  border-radius: $border_radius;

  &__title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  &__title {
    font-weight: 700;
  }

  &__button {
    background: #1b294a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 50%;
    transition: all $transition-time linear;

    &.open {
      transform: rotate(-45deg);
    }

    img {
      width: 2em;
    }
  }
}

.subquestions__container {
  height: 0;
  transition: height $transition-time linear;
  overflow: hidden;
}

.subquestions {
  display: grid;

  &__divider {
    background-color: #e8e8e8;
  }
}

.subquestion {
  cursor: pointer;
  padding: 0.5em 0;
  transition: all $transition-time linear;

  &:hover {
    transform: scale(0.99);
  }
}

@media screen and (max-width: $mobile) {
  .question {
    &__title__container {
      padding: 0;
    }
    &__title {
      font-size: 1.3em;
    }

    &__button {
      img {
        width: 1em;
      }
    }
  }
}
