@import "../../../styles/constants";

.modal__background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $zIndex_modal;
}

.modal {
  background-color: #fff;
  padding: 2em;
  position: relative;

  border-radius: $border_radius;
  background: linear-gradient(0deg, #f1f2f6, #f1f2f6),
    linear-gradient(135deg, #e5e6e9 0%, #fdfeff 100%);
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(209, 217, 230, 0.5);

  &__closeBtn {
    z-index: 1;
    position: absolute;
    right: 1em;
    top: 1em;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 2em;
      height: auto;
      filter: invert(1);
    }
  }

  &__content {
    overflow: auto;
    max-width: 50vw;
    max-height: 50vh;
  }
}

@media screen and (max-width: $mobile) {
  .modal {
    &__closeBtn {
      svg {
        width: 1.5em;
      }
    }
  }
}
