@import "../../../styles/constants";

@mixin setPersonSize($width, $padding) {
  // your SCSS here, e.g.
  width: $width;
  padding: $padding;
  &__profile {
    width: calc(#{$width} - #{2 * $padding});
    height: calc(#{$width} - #{2 * $padding});
  }
}

.person {
  $padding_person: 1em;
  $width_person: 300px;

  @include setPersonSize($width: $width_person, $padding: $padding_person);

  border-radius: $border_radius;
  background: #fafafa;
  flex-shrink: 0;
  box-shadow: $box_shadow_card;
  display: grid;
  row-gap: 0.5em;
  text-align: center;

  &__name {
    color: $color_blue_2;
    font-weight: 700;
  }

  &__position {
    font-weight: 700;
  }

  &__details {
    display: grid;
    row-gap: 1px;
  }
}

@media screen and (max-width: $laptop) {
  .person {
    $padding_person: 1em;
    $width_person: 250px;

    @include setPersonSize($width: $width_person, $padding: $padding_person);
  }
}
@media screen and (max-width: $tablet) {
  .person {
    $padding_person: 1em;
    $width_person: 220px;

    @include setPersonSize($width: $width_person, $padding: $padding_person);
  }
}
@media screen and (max-width: $mobile) {
  .person {
    $padding_person: 1em;
    $width_person: 200px;

    @include setPersonSize($width: $width_person, $padding: $padding_person);
  }
}
