@import "../../../styles/constants";

.person {
  padding: 1em;
  border-radius: $border_radius;
  background: #fafafa;
  flex-shrink: 0;
  /* морф */

  box-shadow: $box_shadow_card;

  display: grid;
  row-gap: 0.5em;
  text-align: center;

  &__profile {
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    color: $color_blue_2;
    font-weight: 700;
  }

  &__position {
    font-weight: 700;
  }

  &__details {
    display: grid;
    row-gap: 1px;
  }
}
