@import "../../../styles/constants";

.card {
  padding: $padding_card;
  width: 100%;
  border-radius: $border_radius;
  background: linear-gradient(0deg, #f1f2f6, #f1f2f6),
    linear-gradient(135deg, #e5e6e9 0%, #fdfeff 100%);
  /* морф */

  box-shadow: $box_shadow_card;

  &__content {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    column-gap: 1.5rem;

    img {
      width: 5rem;
    }
  }
}

.cardWithBadge {
  position: relative;

  &__badge {
    position: absolute;
    background: #157bd1;
    border: 0.5rem solid #ffffff;
    box-shadow: -8px 8px 12px rgba(108, 108, 108, 0.15);
    border-radius: $border_radius;
    padding: 0.8rem 1.4rem;
    color: #fff;
    font-weight: 800;
    top: -40px;
    font-size: 1.5em;
  }
}
