@import "../../../styles/constants";

.award {
  width: 100%;
  display: grid;
  row-gap: 1em;
  text-align: center;

  &__photo {
    padding: 1em;
    border-radius: $border_radius;
    background: linear-gradient(0deg, #f1f2f6, #f1f2f6),
      linear-gradient(135deg, #e5e6e9 0%, #fdfeff 100%);
    flex-shrink: 0;
    /* морф */

    box-shadow: $box_shadow_card;
  }
}
